@model PFinal_v2.Models.ViewModels.DepartamentoFormViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Novo Departamento</a>
</p>


<form asp-controller="Departamentos" asp-action="Index" method="get">
    <p>

        <select asp-for="TipoDepartamentos" asp-items="Model.Nome">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departamentos!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
