@model PFinal_v2.Models.ViewModels.DiaFormViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label>Mês</label>
                <input type="month" name="mes" value="@Model.Mes" class="form-control" />
            </div>
        </div>
        <div class="col-5">
            <div class="form-group">
                <label>Quinzena</label>
                <select name="quinzena" class="form-control">
                    <option value="1" selected="@Model.Quinzena == 1">1ª Quinzena</option>
                    <option value="2" selected="@Model.Quinzena == 2">2ª Quinzena</option>
                </select>

            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</form>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Código de Custo</th>
            @if (Model.Quinzena == 1)
            {
                foreach (var dia in Enumerable.Range(1, 15))
                {
                    var data = DateTime.Parse(Model.Mes + "-01").AddDays(dia - 1);
                    <th>@data.ToString("dd/MM")</th>
                }
            }
            else
            {
                foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(DateTime.Parse(Model.Mes).Year, DateTime.Parse(Model.Mes).Month) - 15))
                {
                    var data = DateTime.Parse(Model.Mes + "-01").AddDays(dia - 1);
                    <th>@data.ToString("dd/MM")</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Local de Trabalho</td>
            @if (Model.Quinzena == 1)
            {
                foreach (var dia in Enumerable.Range(1, 15))
                {
                    <td>RE</td>
                }
            }
            else
            {
                foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(DateTime.Parse(Model.Mes).Year, DateTime.Parse(Model.Mes).Month) - 15))
                {
                    <td>RE</td>
                }
            }
        </tr>
        @foreach (var wbs in Model.ListaWbs)
        {
            <tr>
                <td>@wbs.Codigo</td>
                @if (Model.Quinzena == 1)
                {
                    foreach (var dia in Enumerable.Range(1, 15))
                    {
                        var data = DateTime.Parse(Model.Mes + "-01").AddDays(dia - 1);
                        var lancamentoDoDia = Model.Lancamentos.FirstOrDefault(l => l.DiaData.Date == data && l.WbsId == wbs.WbsId);
                        <td>
                            @if (lancamentoDoDia != null && lancamentoDoDia.Horas > 0)
                            {
                                @:@lancamentoDoDia.Horas
                            }
                        </td>
                    }
                }
                else
                {
                    foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(DateTime.Parse(Model.Mes).Year, DateTime.Parse(Model.Mes).Month) - 15))
                    {
                        var data = DateTime.Parse(Model.Mes + "-01").AddDays(dia - 1);
                        var lancamentoDoDia = Model.Lancamentos.FirstOrDefault(l => l.DiaData.Date == data && l.WbsId == wbs.WbsId);
                        <td>
                            @if (lancamentoDoDia != null && lancamentoDoDia.Horas > 0)
                            {
                                @:@lancamentoDoDia.Horas
                            }
                        </td>
                    }
                }
            </tr>
        }
        <tr>
            <td>Horas totais</td>
            @if (Model.Quinzena == 1)
            {
                foreach (var dia in Enumerable.Range(1, 15))
                {
                    var data = DateTime.Parse(Model.Mes + "-01").AddDays(dia - 1);
                    var lancamentosDoDia = Model.Lancamentos.Where(l => l.DiaData.Date == data);
                    var totalHoras = lancamentosDoDia.Sum(l => l.Horas);
                    <td>@totalHoras</td>
                }
            }
            else
            {
                foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(DateTime.Parse(Model.Mes).Year, DateTime.Parse(Model.Mes).Month) - 15))
                {
                    var data = DateTime.Parse(Model.Mes + "-01").AddDays(dia - 1);
                    var lancamentosDoDia = Model.Lancamentos.Where(l => l.DiaData.Date == data);
                    var totalHoras = lancamentosDoDia.Sum(l => l.Horas);
                    <td>@totalHoras</td>
                }
            }
        </tr>
    </tbody>
</table>
