@* @model IEnumerable<PFinal_v2.Models.Dia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WbsId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DiaData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WbsId)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DiaData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> 
*@

@* @model PFinal_v2.Models.ViewModels.DiaFormViewModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Wbs</th>
            @if (Model.DataAtual.Day <= 15)
            {
                foreach (var dia in Enumerable.Range(1, 15))
                {
                    var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                    <th>@data.ToString("dd/MM/yyyy")</th>
                }
            }
            else
            {
                foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(Model.DataAtual.Year, Model.DataAtual.Month) - 15))
                {
                    var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                    <th>@data.ToString("dd/MM/yyyy")</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var grupo in Model.Lancamentos.GroupBy(l => l.WbsId))
        {
            <tr>
                <td>@grupo.Key</td> <!-- WbsId -->
                @if (Model.DataAtual.Day <= 15)
                {
                    foreach (var dia in Enumerable.Range(1, 15))
                    {
                        var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                        var lancamentoDoDia = grupo.FirstOrDefault(l => l.DiaData.Date == data);
                        <td>
                            @if (lancamentoDoDia != null)
                            {
                                @:@lancamentoDoDia.Horas
                            }
                        </td>
                    }
                }
                else
                {
                    foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(Model.DataAtual.Year, Model.DataAtual.Month) - 15))
                    {
                        var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                        var lancamentoDoDia = grupo.FirstOrDefault(l => l.DiaData.Date == data);
                        <td>
                            @if (lancamentoDoDia != null)
                            {
                                @:@lancamentoDoDia.Horas
                            }
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table> *@

@model PFinal_v2.Models.ViewModels.DiaFormViewModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Wbs</th>
            @if (Model.DataAtual.Day <= 15)
            {
                foreach (var dia in Enumerable.Range(1, 15))
                {
                    var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                    <th>@data.ToString("dd/MM")</th>
                }
            }
            else
            {
                foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(Model.DataAtual.Year, Model.DataAtual.Month) - 15))
                {
                    var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                    <th>@data.ToString("dd/MM")</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var wbs in Model.ListaWbs)
        {
            <tr>
                <td>@wbs.Codigo</td> 
                @if (Model.DataAtual.Day <= 15)
                {
                    foreach (var dia in Enumerable.Range(1, 15))
                    {
                        var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                        var lancamentoDoDia = Model.Lancamentos.FirstOrDefault(l => l.DiaData.Date == data && l.WbsId == wbs.WbsId);
                        <td>
                            @if (lancamentoDoDia != null)
                            {
                                @:@lancamentoDoDia.Horas
                            }
                        </td>
                    }
                }
                else
                {
                    foreach (var dia in Enumerable.Range(16, DateTime.DaysInMonth(Model.DataAtual.Year, Model.DataAtual.Month) - 15))
                    {
                        var data = Model.DataAtual.AddDays(dia - Model.DataAtual.Day);
                        var lancamentoDoDia = Model.Lancamentos.FirstOrDefault(l => l.DiaData.Date == data && l.WbsId == wbs.WbsId);
                        <td>
                            @if (lancamentoDoDia != null)
                            {
                                @:@lancamentoDoDia.Horas
                            }
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

